%html
	%head
		%title Skills
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		= yield
